<div id="wrapper">
    <mat-card>
    <h1 [style.color]="theme.palette.primary.main">Eclipse Dataspace Connector</h1>
    <div>
        <p class="description">
            The Eclipse Dataspace Connector provides a framework for sovereign, inter-organizational data exchange.
            It implements the International Data Spaces standard (IDS) as well as relevant protocols associated with GAIA-X.
            The connector is designed in an extensible way in order to support alternative protocols and integrate in various ecosystems.
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="link" color="secondary" href="https://github.com/eclipse-dataspaceconnector/DataSpaceConnector"
             mat-stroked-button
             target="_blank">
            GitHub
          </a>
          <a [style.color]="theme.palette.primary.main" class="link" color="secondary"
             href="https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/README.md"
             mat-stroked-button
             target="_blank">
            Getting Started
          </a>
          <a [style.color]="theme.palette.primary.main" class="link" color="secondary"
             href="https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/onboarding.md"
             mat-stroked-button
             target="_blank">
            Onboarding Guide
          </a>
        </p>
    </div>
</mat-card>
<mat-card>
    <h1 [style.color]="theme.palette.primary.main">EDC Data Dashboard (this application)</h1>
    <div>
        <p class="description">
          This EDC Data Dashboard is a developer UI for the EDC Data Management API.
          This application is not intended for production usage and can be used to showcase EDC from a technical perspective, as the UI
          is designed as a 1-1 mapping of the Data Management API.
        </p>
      <p>
        <a class="link" color="secondary"
          [style.color]="theme.palette.primary.main"
           href="https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/tree/main/extensions/api/data-management"
           mat-stroked-button
           target="_blank">
          Data Management API
        </a>
      </p>
    </div>
  </mat-card>
</div>
