<div id="wrapper">
    <mat-card class="card-list" style="margin-top:2%">
    <h1>Data pack collected.</h1>
    <div>
        <p class="description">
            “Volkswagen GIS AG- Local Hazard Information” was added to your connector. You can have access to all of your collected data packs in your connector.       
        </p>
        <p>
            Details
        </p>
        <p>
            Id: ${Id}
        </p>
        <p>
            Provider: ${Provider}
        </p>
        <p>
            File Size: ${File Size}
        </p>
        <p>
            Collection Date: ${Collection Date}
        </p>
        <a class="blackbutton" color="secondary"
           mat-stroked-button
           target="_blank">
           To your Connector
        </a>
        <a class="yellowbutton" color="secondary"
           mat-stroked-button
           target="_blank">
           Back to data catalog
        </a>
    </div>
  </mat-card>
  </div>
  