<div id="wrapper" style="display: -webkit-box;margin-left: 10%">
  <mat-card class="card-list" style="margin-top:5%;margin-right:3%">
    <h1 [style.color]="theme.palette.primary.main">Volkswagen GIS AG- Local Hazard Information</h1>
    <div>
        <p class="description">
          This data package contains hazard information (dangerous events or conditions such as accidents, broken down vehicles, low <br/>
          visibility and slippery roads) that is generated through detections of vehicle sensors.      
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="blackbutton"
            mat-stroked-button
            target="_blank">
            Learn More
          </a>
          <a [style.color]="theme.palette.primary.main" class="yellowbutton"
            mat-stroked-button
            href="/catalog-browser-confirmation"
            target="_blank">
            Add to Connector
          </a>
        </p>
    </div>
  </mat-card>
  <mat-card class="card-list" style="margin-top:5%;margin-right:3%">
    <h1 [style.color]="theme.palette.primary.main">Volkswagen GIS AG- Local Hazard Information</h1>
    <div>
        <p class="description">
          This data package contains hazard information (dangerous events or conditions such as accidents, broken down vehicles, low <br/>
          visibility and slippery roads) that is generated through detections of vehicle sensors.      
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="blackbutton"
            mat-stroked-button
            target="_blank">
            Learn More
          </a>
          <a [style.color]="theme.palette.primary.main" class="yellowbutton"
            mat-stroked-button
            href="/catalog-browser-confirmation"
            target="_blank">
            Add to Connector
          </a>
        </p>
    </div>
  </mat-card>
  <mat-card class="card-list" style="margin-top:5%;margin-right:3%">
    <h1 [style.color]="theme.palette.primary.main">Volkswagen GIS AG- Local Hazard Information</h1>
    <div>
        <p class="description">
          This data package contains hazard information (dangerous events or conditions such as accidents, broken down vehicles, low <br/>
          visibility and slippery roads) that is generated through detections of vehicle sensors.      
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="blackbutton"
            mat-stroked-button
            target="_blank">
            Learn More
          </a>
          <a [style.color]="theme.palette.primary.main" class="yellowbutton"
            mat-stroked-button
            href="/catalog-browser-confirmation"
            target="_blank">
            Add to Connector
          </a>
        </p>
    </div>
  </mat-card>
</div>
<div id="wrapper" style="display: -webkit-box;margin-left: 10%">
  <mat-card class="card-list" style="margin-top:2%;margin-right:3%">
    <h1 [style.color]="theme.palette.primary.main">Volkswagen GIS AG- Local Hazard Information</h1>
    <div>
        <p class="description">
          This data package contains hazard information (dangerous events or conditions such as accidents, broken down vehicles, low <br/>
          visibility and slippery roads) that is generated through detections of vehicle sensors.      
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="blackbutton"
            mat-stroked-button
            target="_blank">
            Learn More
          </a>
          <a [style.color]="theme.palette.primary.main" class="yellowbutton"
            mat-stroked-button
            href="/catalog-browser-confirmation"
            target="_blank">
            Add to Connector
          </a>
        </p>
    </div>
  </mat-card>
  <mat-card class="card-list" style="margin-top:2%;margin-right:3%">
    <h1 [style.color]="theme.palette.primary.main">Volkswagen GIS AG- Local Hazard Information</h1>
    <div>
        <p class="description">
          This data package contains hazard information (dangerous events or conditions such as accidents, broken down vehicles, low <br/>
          visibility and slippery roads) that is generated through detections of vehicle sensors.      
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="blackbutton"
            mat-stroked-button
            target="_blank">
            Learn More
          </a>
          <a [style.color]="theme.palette.primary.main" class="yellowbutton"
            mat-stroked-button
            href="/catalog-browser-confirmation"
            target="_blank">
            Add to Connector
          </a>
        </p>
    </div>
  </mat-card>
  <mat-card class="card-list" style="margin-top:2%;margin-right:3%">
    <h1 [style.color]="theme.palette.primary.main">Volkswagen GIS AG- Local Hazard Information</h1>
    <div>
        <p class="description">
          This data package contains hazard information (dangerous events or conditions such as accidents, broken down vehicles, low <br/>
          visibility and slippery roads) that is generated through detections of vehicle sensors.      
        </p>
        <p>
          <a [style.color]="theme.palette.primary.main" class="blackbutton"
            mat-stroked-button
            target="_blank">
            Learn More
          </a>
          <a [style.color]="theme.palette.primary.main" class="yellowbutton"
            mat-stroked-button
            href="/catalog-browser-confirmation"
            target="_blank">
            Add to Connector
          </a>
        </p>
    </div>
  </mat-card>
</div>