@import './theme.scss';

html, body {
    height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code{
  font-family: monospace;
  font-size: larger;
}

.line1 {
  position: fixed;
  margin-left: 1.5%;
  margin-top: 6%;
  width: 87%;
  border: 0.1px solid #474747;
  z-index: 10;
  display: none;
}

.line2 {
  position: absolute;
  margin-left: 34px;
  margin-top: 185px;
  width: 262px;
  border: 0.1px solid #474747;
  z-index: 10;
}

.line3 {
  position: absolute;
  margin-left: 34px;
  margin-top: 240px;
  width: 262px;
  border: 0.1px solid #474747;
  z-index: 10;
}

.line4 {
  position: absolute;
  margin-left: 34px;
  margin-top: 295px;
  width: 262px;
  border: 0.1px solid #474747;
  z-index: 10;
}

.line5 {
  position: absolute;
  margin-left: 34px;
  margin-top: 350px;
  width: 262px;
  border: 0.1px solid #474747;
  z-index: 10;
}

.line6 {
  position: absolute;
  margin-left: 34px;
  margin-top: 405px;
  width: 262px;
  border: 0.1px solid #474747;
  z-index: 10;
}

.line7 {
  position: absolute;
  margin-left: 34px;
  margin-top: 460px;
  width: 262px;
  border: 0.1px solid #474747;
  z-index: 10;
}
